

*{margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
    }

    body{
        font-size: 14px;
        font-family: Roboto;}


  .main_container{
                    width: 100%;
                    height: 100%;
                   display: flex;
                   flex-direction: row;
                   flex-wrap: wrap;
                   justify-content: center;
                   align-items: center;
                    }

                    .flex-container{
                        width: 90%;
                        background: rgb(231, 249, 196);
                        padding: 2%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content:center;
                        align-items:center;
                        margin-top: 2%;
                        
                       
                        }

                        .flex-container .accidentesGeograficos {display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content:center;
                            align-items:center;}


.tituloGeograficos{font-size: 3.5em; 
                    }

.accidentesGeograficos{margin: 2%;
                        }

.accidentesGeograficos img{border-radius: 1%}

.accidentesGeograficos img{width: 100%; margin: 0.5%; padding: 2%;}



.accidentesGeograficos img{border-radius: 1%;}

.accidentesGeograficos img{width: 25%;}


.flex-container .animalesDeLaGranja {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;}


.tituloAnimalesDeLaGranja{font-size: 3.5em; 
}

.animalesDeLaGranja{margin: 2%;
}

.animalesDeLaGranja img{border-radius: 1%}

.animalesDeLaGranja img{width: 100%; margin: 0.5%; padding: 2%;}



.animalesDeLaGranja img{border-radius: 1%;}

.animalesDeLaGranja img{width: 25%;}

/****/
.flex-container .animalesSalvajes {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;}


.tituloAnimalesSalvajes{font-size: 3.5em; 
}

.animalesSalvajes{margin: 2%;
}

.animalesSalvajes img{border-radius: 1%}

.animalesSalvajes img{width: 100%; margin: 0.5%; padding: 2%;}



.animalesSalvajes img{border-radius: 1%;}

.animalesSalvajes img{width: 25%;}

/**/

.flex-container .ciencias {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;}


.tituloCiencias{font-size: 3.5em; 
}

.ciencias{margin: 2%;
}

.ciencias img{border-radius: 1%}

.ciencias img{width: 100%; margin: 0.5%; padding: 2%;}



.ciencias img{border-radius: 1%;}

.ciencias img{width: 25%;}


.flex-container .clima {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;}


.tituloClima{font-size: 3.5em; 
}

.clima{margin: 2%;
}

.clima img{border-radius: 1%}

.clima img{width: 100%; margin: 0.5%; padding: 2%;}



.clima img{border-radius: 1%;}

.clima img{width: 25%;}


.flex-container .hogar {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;}


.tituloHogar{font-size: 3.5em; 
}

.hogar{margin: 2%;
}

.hogar img{border-radius: 1%}

.hogar img{width: 100%; margin: 0.5%; padding: 2%;}



.hogar img{border-radius: 1%;}

.hogar img{width: 25%;}






@media screen and (max-width: 595px)

{ 
    body{
        font-size: 14px;
        font-family: Roboto;}


  .main_container{background: rgb(255, 255, 255);
                    width: 100%;
                    height: 100%;
                   display: flex;
                   flex-direction: row;
                   flex-wrap: wrap;
                    
                    margin-left:  0%;
                    }


                    .flex-container{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-top: 2%;
                        margin-bottom: 10%
                       
                        }

.accidentesGeograficos{margin: 2%;
                        }

.accidentesGeograficos img{border-radius: 1%}

.accidentesGeograficos img{width: 100%; margin: 0.5%; padding: 2%;}

.tituloGeograficos {font-size: 2em;}

/**/

.animalesDeLaGranja{margin: 2%;
}

.animalesDeLaGranja img{border-radius: 1%}

.animalesDeLaGranja img{width: 100%; margin: 0.5%; padding: 2%;}


.tituloAnimalesDeLaGranja{font-size: 2em;}

/**/

.animalesSalvajes{margin: 2%;
}

.animalesSalvajes img{border-radius: 1%}

.animalesSalvajes img{width: 100%; margin: 0.5%; padding: 2%;}


.tituloAnimalesSalvajes{font-size: 2em;}

/**/

.ciencias img{border-radius: 1%}

.ciencias img{width: 100%; margin: 0.5%; padding: 2%;}


.tituloCiencias{font-size: 2em;}

/**/

.clima img{border-radius: 1%}

.clima img{width: 100%; margin: 0.5%; padding: 2%;}


.tituloClima{font-size: 2em;}

/**/
.hogar img{border-radius: 1%}

.hogar img{width: 100%; margin: 0.5%; padding: 2%;}


.tituloHogar{font-size: 2em;}





}



