

*{margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
    }

    body{
        font-size: 14px;
        font-family: Roboto;}


  .main_container{
                    width: 100%;
                    height: 100%;
                   display: flex;
                   flex-direction: row;
                   flex-wrap: wrap;
                   justify-content: center;
                   align-items: center;
                    }

                    .flex-container{
                        width: 90%;
                        background: rgb(231, 249, 196);
                        padding: 2%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content:center;
                        align-items:center;
                        margin-top: 2%;
                        
                       
                        }

                        .flex-container .accidentesGeograficos {display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content:center;
                            align-items:center;}


.tituloGeograficos{font-size: 3.5em; 
                    }

.accidentesGeograficos{margin: 2%;
                        }

.accidentesGeograficos img{border-radius: 1%}

.accidentesGeograficos img{width: 100%; margin: 0.5%; padding: 2%;}



.accidentesGeograficos img{border-radius: 1%;}

.accidentesGeograficos img{width: 25%;}


.flex-container .animalesDeLaGranja {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;}


.tituloAnimalesDeLaGranja{font-size: 3.5em; 
}

.animalesDeLaGranja{margin: 2%;
}

.animalesDeLaGranja img{border-radius: 1%}

.animalesDeLaGranja img{width: 100%; margin: 0.5%; padding: 2%;}



.animalesDeLaGranja img{border-radius: 1%;}

.animalesDeLaGranja img{width: 25%;}



@media screen and (max-width: 595px)

{ 
    body{
        font-size: 14px;
        font-family: Roboto;}


  .main_container{background: rgb(255, 255, 255);
                    width: 100%;
                    height: 100%;
                   display: flex;
                   flex-direction: row;
                   flex-wrap: wrap;
                    
                    margin-left:  0%;
                    }


                    .flex-container{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-top: 2%;
                        margin-bottom: 10%
                       
                        }

.accidentesGeograficos{margin: 2%;
                        }

.accidentesGeograficos img{border-radius: 1%}

.accidentesGeograficos img{width: 100%; margin: 0.5%; padding: 2%;}

.tituloGeograficos {font-size: 2em;}


.animalesDeLaGranja{margin: 2%;
}

.animalesDeLaGranja img{border-radius: 1%}

.animalesDeLaGranja img{width: 100%; margin: 0.5%; padding: 2%;}


.tituloAnimalesDeLaGranja{font-size: 2em;}

}



